@use 'sass:map';
@use '@angular/material' as mat;

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ngx-mat-timepicker-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$ngx-mat-timepicker-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ngx-mat-timepicker-warn: mat.m2-define-palette(mat.$m2-red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".

$typography: mat.m2-define-typography-config();

$ngx-mat-timepicker-theme-m2: mat.m2-define-light-theme(
  (
    color: (
      primary: $ngx-mat-timepicker-primary,
      accent: $ngx-mat-timepicker-accent,
      warn: $ngx-mat-timepicker-warn,
    ),
    typography: $typography,
  )
);

$ngx-mat-timepicker-theme-m2-dark: mat.m2-define-dark-theme(
  (
    color: (
      primary: mat.m2-define-palette(mat.$m2-pink-palette),
      accent: mat.m2-define-palette(mat.$m2-blue-grey-palette),
    ),
    typography: $typography,
  )
);

$ngx-mat-timepicker-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
  )
);

$ngx-mat-timepicker-theme-dark: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
  )
);
