<mat-toolbar class="mat-elevation-z4" color="primary">
  <h1 fxLayout="row" fxLayoutGap="0.5rem" fxLayoutAlign="start center">
    <img
      src="assets/angular-white-transparent.svg"
      height="24"
      alt="@dhutaryan/ngx-mat-timepicker"
    />
    <span>ngx-mat-timepicker</span>
  </h1>
  <span fxFlex></span>

  <a mat-button href="https://github.com/dhutaryan/ngx-mat-timepicker">
    <img
      src="assets/github-circle-white-transparent.svg"
      height="24"
      alt="github"
    />
    <span fxHide.lt-md [style.margin-left.rem]="0.5">Github</span>
  </a>
</mat-toolbar>
