<mat-toolbar class="mat-elevation-z4" color="primary">
  <span>NgxMatTimepicker</span>
</mat-toolbar>

<main>
  <mat-form-field appearance="fill">
    <input type="text" matInput [matTimepicker]="timepicker" [value]="date" />
    <mat-timepicker-toggle matSuffix [for]="timepicker"></mat-timepicker-toggle>
    <mat-timepicker #timepicker></mat-timepicker>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <input
      type="text"
      matInput
      [matTimepicker]="timepicker2"
      [formControl]="timeControl"
    />
    <mat-timepicker-toggle
      matSuffix
      [for]="timepicker2"
    ></mat-timepicker-toggle>
    <mat-timepicker #timepicker2 format="24"></mat-timepicker>
  </mat-form-field>
</main>
